<section class="header">
  <div class="left-header">
    <img src="assets/images/tc.png" alt="Logo"> The Catalysts
  </div>
  <div class="right-header">
    <i class="material-icons"> search </i>
  </div>
</section>

<section class="tile-container">

  <div class="row row-1">
    <div class="tile tile-1">
      <span class="tile-text">New to Street food?</span>
    </div>

    <div class="tile tile-2">
      <span class="tile-text">Improve the business</span>
    </div>
  </div>

  <div class="row row-2">
    <div class="tile tile-3">
      <span class="tile-text">Vendors' voice</span>
    </div>

    <div class="tile tile-4">
      <span class="tile-text">Keep motivated</span>
    </div>
  </div>

</section>

<!-- <section class="footer">

</section> -->