.header{
    height: calc(60px - 10px);
    padding: 5px 20px;
    background: #7b3f06;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header::after {
    content: "";
    background-image: url('./../assets/images/streetfood.jpg');
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    background-position-y: -47px;
    background-position-x: right;
    z-index: 0;
}

.left-header{
    height: 100%;
    font-size: 25px;
    color: white;
    font-weight: 400;
    display: flex;
    align-items: center;
    cursor: pointer;
    z-index: 1;
}

.left-header img{
    height: 100%;
    padding-right: 10px;
}

.right-header{
    cursor: pointer;
    z-index: 1;
}

.right-header i{
    color: white;
    cursor: pointer;
    font-size: 30px;
}

.tile-container{
    height: calc(100vh - 60px);
    background: #ffe0c6;
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
}

.row-1{

}

.row-2{

}

.tile{
    width: 50vw;
    height: calc(50vw - 60px - 10px);
    background: #c71344;
    margin: 3vw;
    border-radius: 5px;
    box-shadow: rgba(0,0,0,0.25) 1px 1px 13px 1px;
    color: white;
    font-size: 4.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    padding: 0 10px;
    cursor: pointer;
}

.tile-text{
    z-index: 1;
}

.tile-1{
    background: #7d1a35;
    position: relative;
}
.tile-1::after {
    content: "";
    background-image: url("./../assets/images/new.jpg");
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    background-size: cover;
    z-index: 0;
}

.tile-2{
    background: #0b2267;
    position: relative;
}
.tile-2::after {
    content: "";
    background-image: url("./../assets/images/improve.jpg");
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    background-size: cover;
    z-index: 0;
}

.tile-3{
    background: #18670a;
    position: relative;
}
.tile-3::after {
    content: "";
    background-image: url("./../assets/images/voice.png");
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    background-size: cover;
    z-index: 0;
}

.tile-4{
    background: #b31c1b;
    position: relative;
}
.tile-4::after {
    content: "";
    background-image: url("./../assets/images/motivation.jpg");
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    background-size: cover;
    z-index: 0;
}

@media only screen and (min-width: 600px) {
    .tile{
        height: calc(300px - 60px - 10px);
        font-size: 27px;
    }
}